img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 30rem;
  padding: 1rem;
}

.container__header {
  margin: 0 auto;
  max-width: 70rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 3rem;
}

.nav__button {
  display: inline-block;
  background-color: initial;
  border: 0;
}

.header__logo {
  color: white;
  font-weight: bold;
  font-size: 1.2rem;
}

.separador {
  border-bottom: 1px solid #dadada;
  width: 100%;
}

.section__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 3rem;
  margin-top: 3rem;
}

.article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 0.5rem;
}
.article__title {
  font-size: 2rem;
  font-weight: 800;
  margin: 0;
  line-height: 2rem;
  color: #151515;
}
.article__subtitle {
  font-size: 1.3rem;
  font-weight: 300;
  line-height: 1.5rem;
  color: #151515;
}
.article__caption {
  font-family: serif;
  font-size: 0.8rem;
  font-style: italic;
  color: #969696;
}

.description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
  padding: 2rem 0;
}

.form {
  padding: 2rem 0 0 0;
}
.form__title {
  font-weight: 500;
  padding-top: 3rem;
}
.form__label {
  font-family: serif;
  font-size: 1.2rem;
  color: #969696;
}
.form__input {
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid #969696;
  width: 100%;
}
.form__display {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  gap: 1rem;
  padding-top: 1rem;
}

.footer__nav {
  padding-top: 1.5rem;
}
.footer__ul {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
}
.footer__li {
  list-style: none;
}
.footer__img {
  width: 1rem;
  height: 1rem;
}

.circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 2rem;
  height: 2rem;
  background-color: #151515;
  border-radius: 50%;
}

.copyright {
  font-family: serif;
  font-size: 0.7rem;
  color: #969696;
  margin: 2rem 0 3rem 0;
}
/*# sourceMappingURL=_base.css.map */